@model IEnumerable<MVCBasics.Models.GameReview>

@{
    ViewBag.Title = "Index";
}

<h2>The Latest Reviews</h2>

@section feature{
    We are showing the latest @Model.Count() reviews
}

<br/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raiting)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_Review", item);
    }
</table>

@foreach (var review in Model)
{
    @:Review
    <div>
        <h4>@review.Name</h4>
        <span>@review.Raiting</span>
        <p>@review.ReviewerName for the Company @review.Company</p>
    </div>
}
